
@media (min-width: 360px) and (max-width: 640px) { 
   
    .inner-container{
        margin-top: 20%;
        .justify-content-around{
            margin-top: 20%;
            margin-bottom: 3%;
            
        }
        .justify-content-start{
            margin-left: 4%;
        }
    }
    
    .col-4{
        margin-left: 25%;
        margin-top: -20px;
        margin-bottom: -40px;
    }
    button{
        position: relative;
        margin-left: 40%;
        border-radius: 50px;
        width: 30%;
        height: 20px;
        font-size: 10px;
        margin-top: -50%;
    }
 }